<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <% if current_user && current_user.admin? %>
      <div>
        <%= form.text_field :name, class: 'form-control', placeholder: 'Title' %>
        <%= form.text_area :body, class: 'form-control',cols: 78, placeholder: 'Compose new post' %>
      </div>
      <%= form.submit class: 'btn btn-primary' %>
    <%end%>
  </div>
<% end %>
